<ul>
  {{#each beers}}
    <li>
      <a href='/beers/{{id}}'>
        <img src='{{image_url}}' alt='{{name}}' />
        <h5>{{name}}</h5>
        <p><{{description}}/p>
        <i>{{tagline}}</i>
      </a>
    </li>
  {{/each}}
</ul>